.GoodsDetailsData {
    background-color: rgba(0,0,0,0.5);
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin:0.5rem 1rem;
    color: white;
}

.BackBtnCont{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OperationsContainer {
    
    padding: 1rem 1rem;
    margin:2rem 1rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1rem;
}

.deleteOperationIcon{
    color: red;
    opacity: 0.8;

}

.deleteOperationIcon:hover {
    cursor: pointer;
}