.ItemFilterbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
}

#ItemDateInput {
    display: flex;
    flex-direction: row;
}